@keyframes animate {
  0% {
    height: 20px;
  }
  50% {
    height: calc(100% - 20px);
  }
}

@keyframes animateLine {
  0% {
    top: 20px;
  }
  50% {
    top: calc(100% - 20px);
  }
}

@keyframes animateText {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.qrcode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4rem;
  width: 50%;
  height: 100%;
  /* background: url(QR_Code02.png);  */
  background-size: 200px;
  overflow: hidden;
  animation: animate 4s ease-in-out infinite;
}

.qrcode::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 40%;
  height: 2px;
  background: #35fd5c;
  filter: drop-shadow(0 0 20px #35fd5c) drop-shadow(0 0 60px #35fd5c);
  animation: animateLine 4s linear infinite;
}
